/* USER VARIABLES SECTION */

:root {
	--accent: #0f5dd3;

	--accent-light: #0b67f6;
	--accent-dark: rgba(157, 42, 67, 0.93);

	--gutter: 20px;
	--text: #333;
	--dark: rgba(32, 35, 40, 0.93);
	--deep: #171A1A;
	--dark-header: #6F7A8B;
	--dark-div: #2D3038;
	--light-bg: #FAFAFA;
	--light-disabled: #E4E6E8;
	--light-div: #E7E7E8;
	--middle-gray: rgba(111, 122, 139, 0.75);
	--text-light: #999999;
	--regular-text: 16px;
	--small-text: 14px;
	--lineheight: 1.75;
	--userfont: raleway-wt, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--radius: 5px;
	--radius-style: 0 5px;
	--transition: .25s ease-out;
	--address: #989DA5;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-300.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-500.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-600.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-700.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-800.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-900.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 900; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-regular.woff2") format("woff2"); font-family: "raleway-wt"; font-weight: 400; font-style: normal; }

@font-face { src: url("../fonts/roboto/roboto-v29-cyrillic-300.woff2") format("woff2"); font-family: "roboto-wt"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-cyrillic-500.woff2") format("woff2"); font-family: "roboto-wt"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-v29-cyrillic-700.woff2") format("woff2"); font-family: "roboto-wt"; font-weight: 700; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* BUTTON */

.button {
	outline: none;
	border: none;
	background-color: var(--accent);
	color: #fff;
	border-radius: var(--radius-style);
	display: inline-block;
	padding: 10px 28px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	position: relative;
	letter-spacing: .25px;
	text-decoration: none;
	/*background: rgb(96,9,240);*/
	/*background: linear-gradient(0deg, var(--accent) 0%, var(--accent) 100%);*/
	/*border: none;*/
}
.button:hover {
	color: #fff;
	text-decoration: none;
	background-color: var(--accent-light);
	box-shadow:  2px 2px 3px 0 rgba(40, 40, 40, 0.5),
	-2px -2px 3px 0 rgba(116, 125, 136, .5),
	inset -2px -2px 3px 0 rgba(255,255,255,.2),
	inset 2px 2px 3px 0 rgba(0, 0, 0, .4);

}
.button:active {
	background-color: var(--accent-dark);
	color: black;
	box-shadow:  1px 1px 2px 0 rgba(255,255,255,.5),
	-1px -1px 2px 0 rgba(116, 125, 136, .5),
	inset -1px -1px 2px 0 rgba(0, 0, 0, .2),
	inset 1px 1px 2px 0 rgba(0, 0, 0, .4);

}

/* NAVBAR */

.navbar {
	position: absolute;
	top: 0;
	z-index: 1000;
	padding: 43px 0 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	left: 50px;
	right: 50px;
}

.logo {

	font-size: 17px;
	white-space: nowrap;
	line-height: 1.3;
}
.logo__link {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .75px;
	text-decoration: none;
}
.logo__link span {
	display: block;
	font-size: 12px;
	text-transform: none;
	font-weight: 300;
	letter-spacing: 3.4px;
	opacity: 0.65;
	/*margin-left: 22px;*/
}
.logo-icon {
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
	background-image: url(../images/logo.png);
	margin-right: 7px;
	top: 1px;
}
.logo__link:hover, .logo__link:focus, .logo__link:active {
	color: #fff;
}

.top-menu {
	margin: 0;
	padding: 0;
	text-align: center;
	transition: opacity var(--transition), visibility var(--transition);
}
.top-menu__item {
	padding: 0;
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}
.top-menu__link {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding: 7.5px 16px;
	border-radius: var(--radius-style);
	transition: background var(--transition);
}
.top-menu__link:hover,
.top-menu__link:focus,
span.top-menu__link {
	color: #fff;
	background-color: rgba(196, 196, 196, 0.65);
}
.menu-container {
	position: relative;
}
.menu-toggle {
	width: 22px;
	height: 22px;
	background-image: url(../images/interface/menu-white.svg);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 3px;
	display: none;
	right: 0;
}
.menu-toggle_active {
	background-image: url(../images/interface/x.svg);
}
.top-menu.top-menu_active {
	visibility: visible;
	opacity: 1;
}

.nav-social-wrap {
	text-align: right;
}
.nav-social {
	background-color: rgba(196, 196, 196, 0.2);
	border-radius: 10em;
	display: inline-block;
	padding: 2px 13px 3px;
}
.nav-social__item {
	display: inline-block;
	margin: 0 3px;
}
.nav-social__item img {
	width: 100%;
	max-height: 16.5px;
	max-width: 20px;
	opacity: 0.75;
	transition: opacity var(--transition);
}
.nav-social__item:hover img {
	opacity: 1;
}

/* SLIDER */

.home-slider {
	position: relative;
	height: 100vh;
	min-height: 580px;
	max-height: 720px;
	color: #fff;
	background-color: var(--dark);
}
.home-slider__slide {
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.home-slider__slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	opacity: .15;
}
.home-slider__slide::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	z-index: 1;
	box-shadow: 0 0 0 30px var(--dark);
	border-radius: var(--radius);
}
.home-slider__slide .container {
	z-index: 2;
	position: relative;
}
[data-animate] {
	opacity: 0;
	transition: all .8s ease-out;
}
[data-animate="bottom"] {
	transform: translate3d(0, 15px, 0);
}
.home-slider__slide.swiper-slide-active [data-animate] {
	opacity: 1;
	transform: none;
}
.home-slider__slide.swiper-slide-active .home-slider__heading {
	transition-delay: .6s;
}
.home-slider__slide.swiper-slide-active .home-slider__text {
	transition-delay: 1s;
}
.home-slider__heading {
	font-size: 58px;
	line-height: .8;
	font-weight: 300;
	margin-bottom: 35px;
	transition-delay: .3s;
}
.home-slider__heading span {
	font-size: 16px;
	background-color: var(--accent);
	border-radius: var(--radius-style);
	padding: 6px 16px 7px;
	font-weight: 500;
}
.home-slider__text {
	max-width: 440px;
	font-size: var(--small-text);
	background-color: rgba(32, 35, 40, 0.7);
	padding: 15px 22px;
	border-radius: 0 calc(var(--radius) * 2);
}
.home-slider__bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 440px;
	background-color: var(--dark);
	z-index: 1;
	right: 0;
	border-radius: calc(var(--radius) * 2) 0 0 0;
	padding: 45px 40px 45px 15px;
	font-size: 12px;
	color: #59606C;
}
.home-slider__pagination-wrapper {
	position: relative;
}
.home-slider__pagination {
	font-family: roboto-wt, sans-serif;
	font-weight: 300;
	bottom: inherit;
	margin-top: -10px;
}
.home-slider__pagination span {
	width: 1px;
	height: 28px;
	background-color: #353941;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 8px 0;
}
.home-slider__pagination b {
	position: relative;
	font-size: 15px;
	color: #818B9D;
	font-weight: 300;
}
.home-slider__bottom .swiper-scrollbar-drag {
	height: 5px;
}
.home-slider__nav {
	position: relative;
}
.home-slider__prev, .home-slider__next {
	outline: none;
}
.home-slider__prev::after, .home-slider__next::after {
	font-size: 14px;
	color: #818B9D;
}

/* HOME CALLBACK */

.home-callback {
	background-color: var(--deep);
	padding: 50px 0;
	color: var(--dark-header);
	position: relative;
	z-index: 1;
}
.home-callback__header {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}
.home-callback__header::after {
	content: '';
	width: 30%;
	height: 1px;
	background-color: var(--dark-div);
	position: absolute;
	left: 0;
	bottom: -15px;
}
.home-callback__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: var(--small-text);
}
.home-callback__list li{
	cursor: pointer;
}
.home-callback__list > * {
	display: inline-block;
	width: 32%;
	margin-bottom: 7px;
}
.home-callback__list span {
	font-family: roboto-wt, sans-serif;
	font-weight: 700;
}
.home-callback__text-right {
	text-align: right;
}
.home-callback__text-right p {
	font-size: var(--small-text);
	line-height: 1.65;
}
.phone-big {
	font-size: 28px;
	line-height: 1;
	color: var(--text);
	font-weight: 300;
	font-family: roboto-wt, sans-serif;
	text-decoration: none;
}
.phone-big:hover {
	color: var(--text);
}
.home-callback__phone,
.home-callback__phone:hover {
	color: #fff;
}
.home-callback__button {
	margin-top: 20px;
}

/* MODAL */

.modal {
	position: relative;
	z-index: 1;
}
.modal__container {
	padding: 20px;
	width: 100%;
	max-width: 400px;
	border-radius: var(--radius);
}
.modal__title {
	text-align: center;
	width: 100%;
	color: #454545;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
}
.modal__close {
	opacity: 0.4;
	transition: opacity var(--transition);
	position: relative;
	top: -5px;
}
.modal__close:hover {
	opacity: 1;
}
.modal__footer {
	padding: 10px 0;
	text-align: center;
}

/* FORM */

form input, form textarea {
	width: 100%;
	font-size: 14px;
	margin: 5px 0;
	padding: 8px 14px;
	border-radius: var(--radius-style);
	border: 1px solid var(--light-div);
}

/* BEST WORKS */

.price-container {
	background-color: var(--light-bg);
}
.price__top {
	background-color: var(--dark);
	color: #fff;
	padding-top: 65px;
	padding-bottom: 170px;
}
.price__top-wrapper {
	display: flex;
	align-items: center;
}
.price__left,
.price__right {
	flex: 0 0 50%;
	margin-bottom: var(--gutter);
}
.price__left {
	font-size: var(--small-text);
	text-align: right;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right: var(--dark-div) 1px solid;
}
.price__right {
	padding-left: 40px;
}
.price-links-bottom{
	border:2px solid #0a53be;
	display: flex;
	justify-content: center;
	align-items: center;
}
.best-works__bottom {
	margin-top: -130px;
	padding-bottom: 65px;
}
.best-works__item-wrapper {
	overflow: hidden;
	margin-bottom: var(--gutter);
}
.best-works__button-wrapper {
	text-align: center;
	margin-top: 25px;
}

/* SECTION TITLE */

.section-title__name {
	color: var(--accent);
	font-weight: 800;
	text-transform: uppercase;
}
.section-title__name::before {
	content: '\\\\';
	margin-right: 5px;
}
.section-title__desc {
	line-height: 1.2;
	font-size: 29px;
	margin: 0;
	margin-top: 5px;
	font-weight: 800;
}
.section-title__paragraph {
	font-size: var(--small-text);
	margin: 0;
	margin-bottom: 40px;
}
.section-title--dotted .section-title__desc {
	margin-bottom: 25px;
}
.section-title--dotted .section-title__desc::after {
	content: '';
	display: block;
	height: 5px;
	width: 40px;
	background-image: url(../images/interface/ellipse-accent.svg);
	background-repeat: repeat-x;
	margin-top: 28px;
}

/* BEST ITEM */

.best-item {
	background-color: #fff;
	display: block;
	height: 100%;
	text-decoration: none;
	border-bottom: 3px solid var(--light-disabled);
	transition: border var(--transition);
	color: var(--text);
}
.best-item__img-wrapper {
	position: relative;
}
.best-item__img-wrapper img {
	width: 100%;
}
.price-item__content {
	padding: 25px;
	color: var(--text);
}
.best-item__desc {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.28;
	position: relative;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.best-item__desc::before,
.best-item__desc::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 10px;
	background-image: url(../images/interface/ellipse-accent.svg);
	background-repeat: repeat-y;
	background-position: 3px 9.5px;
}
.best-item__desc::after {
	background-image: url(../images/interface/ellipse-gray.svg);
	transition: opacity .5s ease-out;
}
.best-item:hover .best-item__desc {
	text-decoration: underline;
}
.best-item:hover .best-item__desc::after {
	opacity: 0;
}
.best-item__img-wrapper::before,
.best-item__img-wrapper::after {
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-image: url(../images/interface/triangle-white.svg);
	background-position: 25px 25px;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity .5s ease-out, background-position .5s ease-out;
}
.best-item__img-wrapper::before {
	background-color: rgba(32, 35, 40, 0.25);
}
.best-item__img-wrapper::after {
	transform: rotate(180deg);
}
.best-item:hover {
	border-color: var(--accent);
	color: var(--text);
	text-decoration: none;
}
.best-item:hover .best-item__img-wrapper:before,
.best-item:hover .best-item__img-wrapper:after {
	opacity: 1;
	background-position: 20px 20px;
}

/* ADDRESS LINE */

.address-line {
	color: var(--address);
	font-size: var(--small-text);
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.address-line::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 15px;
	background-image: url(../images/interface/BMW.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 8px;
	position: relative;
	top: 1.4px;
}
.download-line {
	color: var(--address);
	font-size: var(--small-text);
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}
.download-line a{
	text-decoration: none;
	color: var(--address);
}
.download-line::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 15px;
	background-image: url(../images/interface/download.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 8px;
	position: relative;
	top: 1.4px;
}

/* ADVANTAGES */

.advantages {
	padding: 80px 0 50px;
}
.advantages__item-wrapper {
	margin-bottom: var(--gutter);
}
.advantages-slider-wrapper {
	text-align: center;
}
.advantages-slider {
	width: 100%;
	position: relative;
	display: inline-block;
	max-width: 440px;
}
.advantages-slider img {
	width: 100%;
	border-radius: var(--radius-style);
}
.advantages-slider::before {
	content: '';
	width: 50%;
	height: 50%;
	top: -15px;
	left: -15px;
	background-color: var(--dark);
	position: absolute;
	border-radius: var(--radius-style);
	opacity: 0.1;
}
.advantages-slider__caption {
	position: absolute;
	bottom: 60px;
	z-index: 1;
	color: #fff;
	left: -25px;
	padding: 2px 50px 2px 25px;
	border-radius: var(--radius-style);
	font-family: roboto-wt, sans-serif;
	font-weight: 700;
	font-size: 52px;
	overflow: hidden;
}
.advantages-slider__caption::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--dark);
	opacity: 0.9;
	z-index: -1;
}
.advantages-slider__caption span {
	font-size: 21px;
	font-family: raleway-wt, sans-serif;
	font-weight: 300;
	max-width: 100px;
	display: inline-block;
	line-height: 1.2;
	text-align: left;
	padding-left: 2px;
}

/* ITEM ADVANTAGES */

.item-advantages {
	height: 100%;
	position: relative;
	padding-bottom: 35px;
}
.item-advantages__heading {
	text-decoration: none;
	color: var(--text);
	font-size: 19px;
	font-weight: 800;
	line-height: 1.2;
	border-bottom: 1px solid var(--light-div);
	display: flex;
	align-items: center;
	padding-bottom: var(--gutter);
}
.item-advantages__heading:hover,
.item-advantages__heading:active {
	color: var(--text);
	text-decoration: underline;
}
.item-advantages__heading img {
	max-width: 70px;
	max-height: 48px;
	margin-right: 15px;
}
.item-advantages__desc {
	font-size: var(--small-text);
	margin: 0;
	margin-top: 15px;
}
.item-advantages__more {
	position: absolute;
	bottom: 0;
}

/* READ MORE LINK */

.read-more {
	font-size: 15px;
	font-weight: 800;
	text-decoration: underline;
	color: var(--text);
}
.read-more:hover {
	color: #555;
}
